@charset "utf-8";

main {
  background-color: #fff;
  width: 100%;
}

.cart-page {
  text-align: center;
  font-size: 16px;
  background-color: #fff;
}

.cart-product img {
  width: 335px;
  height: 335px;
  margin: 20px;
}


.cart-product p {
  font-weight: 700;
  color: #7f5539;
  margin-top: 0;
  margin-bottom: 20px;
}

.detail-block p:nth-of-type(1) {
  font-weight: 700;
  color: #bf0000;
}

.detail-block p:nth-of-type(2) {
  font-weight: 700;
  color: #000;
}

.cart-product p:nth-of-type(4) {
  font-weight: 500;
  color: #7f5539;
  margin-bottom: 16px;
  border-bottom: 0.5px solid;
  border-color: #7f5539;
}

.cart-total {
  margin-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
  height: 148px;
  border: 2px solid;
  border-color: #ffd233;
}

.cart-total p {
  font-weight: 700;
  color: #7f5539;
  margin-top: 38px;
}

.cart-total span {
  color: #bf0000;
}

.purchase-btn {
  margin-top: 20px;
  margin-bottom: 38px;
}

.purchase-btn {
  background-color: #bf0000;
  width: 160px;
  height: 36px;
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
}

.continue-btn {
  font-size: 12px;
  background-color: #7f5539;
  width: 160px;
  height: 36px;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #fff;
  cursor: pointer;

}

/* ぱんくず */

.breadcrumb {
  padding: 12px 20px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.breadcrumb-item {
  font-size: 12px;
}

a {
  font-size: 12px;
}

.breadcrumb-item {
  margin-right: 0.5em;

}

.breadcrumb-item::after {
  content: "\03e";
  margin-left: 0.5em;
}

.breadcrumb-item:last-child::after {
  content: "";
  /* 最後の項目には区切りを表示しない */
}

.breadcrumb-item a {
  text-decoration: none;

}

.breadcrumb-item a:hover {
  text-decoration: underline;
}

/* ここまで */

/* button {
  font-size: 16px;
  background-color: #7f5539;
  width: 200px;
  height: 48px;
  display: block;
  margin: 0 auto;
  color: #fff;
  cursor: pointer;
} */

@media screen and (min-width:768px) {


  .user {
    text-align: left;
  }

  .cart-product {
    display: flex;
    justify-content: center;
    width: 1040px;
    height: 335px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: auto;
    margin-left: auto;
  }

  .cart-product p {
    text-align: left;
    margin-bottom: 16px;
  }

  .detail-block {
    display: flex;
    justify-content: space-between;
  }

  .cart-product img {
    margin: 0;
    margin-right: 40px;
  }

  .detail-block {
    padding-top: 34px;
    margin-bottom: 174px;
  }


  .cart-page {
    text-align: end;
  }

  .cart-page a {
    margin-top: 174px;
  }

  .product-item-detail {
    width: 100%;
  }

  .cart-total {
    width: 1040px;
    text-align: center;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    height: 148px;
    border: 2px solid;
    border-color: #ffd233;
  }

}