@charset "utf-8";

main {
  background-color: var(--white-color);
  width: 100%;
  /* marginだと買い物続けるボタンの40px入らないから簡易 */
  padding-bottom: 100px;
}

.cart-page {
  text-align: center;
  font-size: 16px;
  background-color: var(--white-color);
}

/* ぱんくず */

.breadcrumb {
  padding: 12px 20px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.breadcrumb-item {
  font-size: 12px;
  margin-right: 0.5em;
}

.breadcrumb-item::after {
  content: "\03e";
  margin-left: 0.5em;
}

.breadcrumb-item:last-child::after {
  content: "";
  /* 最後の項目には区切りを表示しない */
}

.breadcrumb-item a {
  font-size: 12px;
  text-decoration: none;
}

.breadcrumb-item a:hover {
  text-decoration: underline;
}

/* PCここから */

@media screen and (min-width:768px) {
  .cart-page {
    text-align: end;
  }

  .cart-page a {
    margin-top: 174px;
  }

  .breadcrumb {
    max-width: 1200px;
  }
}