/* ローディングアニメーション */

body {
  align-items: center;
  /* 垂直方向の中央揃え */
  height: 100vh;
  /* ビューポートの高さを100%に */
  margin: 0;
  background-color: #EDE0D4;
}


.content {
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.content img {
  mix-blend-mode: multiply;
  height: auto;
  animation: rotateY 3s cubic-bezier(0.5, 0, 0.5, 1) forwards;
}


@keyframes rotateY {
  0% {
    transform: rotateY(0deg);
  }

  70% {
    transform: rotateY(360deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.rotating-element {
  animation: rotateY 3s cubic-bezier(0.5, 0, 0.5, 1) forwards;
}

.txt {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.txt p {
  color: #7F5539;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: .06em;
  margin: 0;
  /* ここからアニメーション関係 */
  transform: translateY(2em);
  animation: textanimation 1s forwards;
}

/* 1文字目 */
.txt p:nth-child(1) {
  animation-delay: 0.2s
}

/* 2文字目 */
.txt p:nth-child(2) {
  animation-delay: 0.4s
}

/* 3文字目 */
.txt p:nth-child(3) {
  animation-delay: 0.6s
}

/* 4文字目 */
.txt p:nth-child(4) {
  animation-delay: 0.8s
}

/* 5文字目 */
.txt p:nth-child(5) {
  animation-delay: 1s
}

/* 6文字目 */
.txt p:nth-child(6) {
  animation-delay: 1.2s
}

/* 7文字目 */
.txt p:nth-child(7) {
  animation-delay: 1.4s
}

/* 8文字目 */
.txt p:nth-child(8) {
  animation-delay: 1.6s
}

/* 9文字目 */
.txt p:nth-child(9) {
  animation-delay: 1.8s
}

/* 10文字目 */
.txt p:nth-child(10) {
  animation-delay: 2s
}

@keyframes textanimation {
  0% {
    transform: translateY(2em);
  }

  100% {
    transform: translateY(0);
  }
}

/* ここまで */